<!DOCTYPE html>
<html lang=en>
    <head>
    <title>Exercise 3.3.1 </title>
    <meta charset="UTF-8">
    </head>
    <body>
        <h2>JS Fundamentals</h2>
        <script>
                let text="TEXT"
                let number1=123
                let number2=23.45
                let x=false
                console.log("the text is",text)
                console.log("the number is",number1)
                console.log("the other number is",number2)
                console.log("and x is",x)
</script>
    </body>
</html>