<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excercise 3.7.1</title>
</head>
<body>
    <h2>JS Variable Storage</h2>
    <script>
            let integer=parseFloat (prompt("gimme an integer"))
            let decimal=parseFloat (prompt("gimme a decimal"))
            let ap1= integer+decimal
            let ap2= ap1/2
            let answer= Math.round(ap2)
            let min=1
            let max=99
            alert("the answer to life is: "+Math.floor(Math.random()*(max-min+1))+min)
    </script>
</body>
</html>